.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.mycards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-box {
    display: flex;
    align-items: center;
    max-width: 1000px;
    background-color: #3F3E3E;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.card-box img{
    width: 250px;
    margin: 20px;
}

.card-box .card-body {
    width: 100%;
    margin: 20px;
}

.card-body .card-title {
    font-size: 32px;
    color: #ffdc9f;
}

.card-body .card-desc {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-body p {
    margin: 10px 0;
    letter-spacing: 0.5px;
    line-height: 125%;
}