<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/navigation.css" />
    <link rel="stylesheet" href="../static/css/create.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/create.js"></script>

    <title>re:book</title>
  </head>
  <body>
    <div class="topbar">
      <div class="top-menu">
        <div class="logo-box" onclick="location.href='/'">
          <img class="logo" src="../static/image/rebookLogo.png" />
        </div>
        <div class="icon-box" id="icon-boxes">
{#          <img class="icon logoutIcon" src="../static/image/logoutIcon.png" />#}
{#          <h3 class="icon-slash">/</h3>#}
{#          <img class="icon writeIcon" src="../static/image/writeIcon.png" />#}
{#            // js파일에 temp html로 붙여 넣었습니다#}
        </div>
      </div>
      <div class="bottom-menu">
        <p class="menu" onclick="location.href='/'">New Books</p>
        <p class="menu" onclick="location.href='/bestseller'">Best Seller</p>
        <p class="menu" onclick="location.href='/reviews'">Reviews</p>
      </div>
    </div>
    <div class="content">
      <h1 class="point-color">리뷰 작성하기</h1>
      <div class="review-form">
        <div class="url-box box">
          <p>책 URL</p>
          <input
            class="book-url"
            placeholder="교보문고의 책 URL을 추가해주세요! ex)https://product.kyobobook.co.kr/detail/S000061863239"
            type="text"
          />
        </div>
        <div class="description-box box">
          <p>책 내용</p>
          <textarea
            class="book-content"
            type="text"
            rows="10"
            oninput="calcTextareaHeight(this)"
          ></textarea>
        </div>
        <div class="tag-box box">
          <p>태그</p>
          <div class="tags">
            <button class="tag-btn" id="novel" onclick="tagBtnHandler(event)">
              소설
            </button>
            <button class="tag-btn" id="poet" onclick="tagBtnHandler(event)">
              시/에세이
            </button>
            <button class="tag-btn" id="liberal" onclick="tagBtnHandler(event)">
              인문
            </button>
            <button class="tag-btn" id="family" onclick="tagBtnHandler(event)">
              가정/육아
            </button>
            <button class="tag-btn" id="cook" onclick="tagBtnHandler(event)">
              요리
            </button>
            <button class="tag-btn" id="health" onclick="tagBtnHandler(event)">
              건강
            </button>
            <button class="tag-btn" id="hobby" onclick="tagBtnHandler(event)">
              취미/실용/스포츠
            </button>
            <button class="tag-btn" id="economy" onclick="tagBtnHandler(event)">
              경제/경영
            </button>
            <button class="tag-btn" id="self" onclick="tagBtnHandler(event)">
              자기계발
            </button>
            <button
              class="tag-btn"
              id="politics"
              onclick="tagBtnHandler(event)"
            >
              정치/사회
            </button>
            <button class="tag-btn" id="history" onclick="tagBtnHandler(event)">
              역사/문화
            </button>
            <button
              class="tag-btn"
              id="religion"
              onclick="tagBtnHandler(event)"
            >
              종교
            </button>
            <button class="tag-btn" id="art" onclick="tagBtnHandler(event)">
              예술/대중문화
            </button>
            <button class="tag-btn" id="tech" onclick="tagBtnHandler(event)">
              기술/공학
            </button>
            <button class="tag-btn" id="foreign" onclick="tagBtnHandler(event)">
              외국어
            </button>
            <button class="tag-btn" id="science" onclick="tagBtnHandler(event)">
              과학
            </button>
            <button class="tag-btn" id="job" onclick="tagBtnHandler(event)">
              취업/수험서
            </button>
            <button class="tag-btn" id="trip" onclick="tagBtnHandler(event)">
              여행
            </button>
            <button class="tag-btn" id="it" onclick="tagBtnHandler(event)">
              컴퓨터/IT
            </button>
            <button
              class="tag-btn"
              id="magazine"
              onclick="tagBtnHandler(event)"
            >
              잡지
            </button>
            <button class="tag-btn" id="youth" onclick="tagBtnHandler(event)">
              청소년
            </button>
            <button class="tag-btn" id="comics" onclick="tagBtnHandler(event)">
              만화
            </button>
          </div>
        </div>
        <button class="write-btn point-color" onclick="writeBtnHandler()">
          작성하기
        </button>
      </div>
    </div>
  </body>
</html>
