<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>re:book</title>

    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/join.css" />
  </head>
  <body>
    <h1>회원가입 페이지</h1>
    <h3>회원가입 폼이 들어갈 자리</h3>
  </body>
</html>
