<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>re:book</title>

    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
      <script src = "../static/js/login.js"></script>
  </head>



  <body>

     <div class="total_main">
         <div class="total_login_object">
      <h1 class="name_login">Login</h1>
        <p class="name_id">Id</p>
         <input class="id_input_box"type="text" />
        <p class="name_password">Password</p>
       <input class="password_input_box" type="password" value="FakePSW" id="myInput" />



             <div class="box_login_join">
      <p> <button class="button_login">Login</button> </p>
         <p class="box_join"> <a href="localhost:5000/join">
              Join </a></p>
             </div>
      </div>
     </div>
  </div>


  <div class ="rebook_log">
    <div class="topbar">
      <div class="top-menu">
        <div class="logo-box" onclick="location.href='/'">
          <img class="logo" src="../static/image/rebookLogo.png" />
        </div>
            </div>




      </div>

    </div>

  </body>

</html>
