<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>re:book</title>

    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/navigation.css" />
    <link rel="stylesheet" href="../static/css/reviews.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="top-menu">
        <div class="logo-box" onclick="location.href='/'">
          <img class="logo" src="../static/image/rebookLogo.png" />
        </div>
        <div class="icon-box">
          <img class="icon logoutIcon" src="../static/image/logoutIcon.png" />
          <h3 class="icon-slash">/</h3>
          <img class="icon writeIcon" src="../static/image/writeIcon.png" />
        </div>
      </div>
      <div class="bottom-menu">
        <p class="menu" onclick="location.href='/'">New Books</p>
        <p class="menu" onclick="location.href='/bestseller'">Best Seller</p>
        <p class="menu selected" onclick="location.href='/reviews'">Reviews</p>
      </div>
    </div>
  </body>
</html>
